<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.ding.easywareflow.mapper.StoreMapper">

    <!-- List<Store> findAllStore()-->
    <select id="findAllStore" resultType="Store">
        select *
        from store
    </select>

</mapper>
